server:
  port: ${SERVER_PORT}

spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: ${JWT_SECRET}
  access-token:
    expiration: 900000
    cookie-name: access_token
  refresh-token:
    expiration: 604800000
    cookie-name: refresh_token
cookie:
  domain: ${COOKIE_DOMAIN}
  secure: ${COOKIE_SECURE}
  same-site: ${COOKIE_SAME_SITE}

cors:
  allowed-origins: ${CORS_ORIGINS}
  allowed-methods: GET,POST,PUT,DELETE,OPTIONS
  allowed-headers: Content-Type,Authorization
  allow-credentials: true

logging:
  level:
    dev:
      jos:
        back: DEBUG
